{% extends "blog/base.html" %}
{% load blog_tags %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<br><br>
<h1>{{ post.title }}</h1>
<p class="badge badge-secondary" style="color: #000">
    Published {{ post.publish }} by {{ post.author }}

</p>
<a href="{% url 'blog:post_share' post.id %}" class="float-right d-inline-flex share badge badge-warning py-2" style="color: #000"><i class="fas fa-share-alt text-primary mr-1"></i> Share By Email</a>
<br><br>
<p style="font-family: 'Roboto Slab', serif;">{{ post.body|safe}}</p>
<p>

</p>
<h2>Similar posts</h2>
{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
There are no similar posts yet.
{% endfor %}
<!-- {% with comments.count as total_comments %}
<h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %} -->
<!--     <div class="card">
        <div class="card-body">
{% for comment in comments %}

            <div class="comment">
    <p>
        <span class="badge badge-info">Comment{{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}</span>
    </p>
    {{ comment.body|linebreaks }}
    <hr>
            </div>
{% empty %}
    <p>There are no comments yet.</p>

{% endfor %}

</div>
    </div> -->

<h3 class="text-success">{{ comments.count }} comment{{ comments.count|pluralize }}</h3>
<div class="container bootstrap snippet">
{% for comment in comments %}
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                
                <hr/>
                <ul class="comments">
                <li class="clearfix">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                  <div class="post-comments">
                      <p class="meta">{{ comment.created }} <a href="#">{{ comment.name }}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                      <p>
                        {{ comment.body|linebreaks }}
                      </p>
                  </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>    
{% if new_comment %}
<h2>Your comment has been added.</h2>
<form class="form-group" method="post">
    {{ comment_form|crispy}}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>
{% else %}
<h2>Add a new comment</h2>
<form class="form-group" method="post">
    {{ comment_form|crispy }}
    {% csrf_token %}
    <p><input class="btn btn-success" type="submit" value="Add comment"></p>
</form>
{% endif %}

{% endblock %}