{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}

{% block content %}

{% for post in posts %}

<div class="d-flex justify-content-center row mt-3 ">
    <div class="col-10 card shadow">
        <div class="card-body">
        <h2 style="font-family: 'Roboto Slab', serif;">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>

        </h2>
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p >
            Published <i class="badge badge-secondary" style="color: #000">{{ post.publish }}</i> by <i class="badge badge-secondary" style="color: #000">{{ post.author }}</i> Comments: <i class="badge badge-secondary" style="color: #000">{{post.comments.count}}</i>
        </p>
        <p style="font-family: 'Roboto Slab', serif;">{{ post.body|safe|truncatewords_html:15 }}</p>
        <a href="{{ post.get_absolute_url }}" class="float-right">Read more <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
</div>
{% endfor %}


<div class="pagination">
    <div class="section-inner clearfix">
        <p>
            {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">
                < Prev</a> | {% endif %} {% if posts.has_next %} <a href="?page={{ posts.next_page_number }}">Next >
            </a>
            {% endif %}

            <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        </p>
    </div>
</div>

{% endblock %}